$primary: #db4c3f;
$grey: rgb(234, 234, 234);
$sidebar-width: 300px;
$header-height: 44px;
li {
  list-style: none;
}
.container {
  display: grid;
  grid-template-rows: $header-height calc(100vh - $header-height);
  grid-auto-columns: $sidebar-width calc(100vw - $sidebar-width);
}
.header {
  background-color: $primary;
  grid-column: 1/3;
  grid-row: 1/2;

  //content
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0.5rem 2rem;
  color: $grey;

  & > span {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 24px;
  }
}
.sidebar {
  // background-color: aquamarine;
  grid-row: 2/3;
  grid-column: 1/2;
  position: sticky;
  // position: fixed;
  // left:0;
  // top:0;
  //content inside
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  gap: 10px;
  &__middle {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    & > span {
      display: flex;
    }
    & > h6 {
      font-size: 22px;
    }
  }
}
.generic__lists {
  & > li {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 15px;
    padding: 10px;
    border-radius: 4px;
    font-size: 20px;
    margin: 2px 0;
    &:hover {
      background-color: $grey;
    }
    & > span {
      display: flex;
    }
  }
}
.project__lists {
  & > li {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 15px;
    padding: 10px;
    border-radius: 4px;
    font-size: 20px;
    margin: 2px 0;
    &:hover {
      background-color: $grey;
    }
    & > span {
      display: flex;
    }
    & > h6 {
      font-weight: 500;
    }
  }
}
.sidebar__generic {
}

.active {
  background-color: $grey;
}
.content {
  grid-row: 2/3;
  grid-column: 2/3;
  overflow: scroll;
  padding: 20px 30px;
}
